<div id='page-bg'>

</div>

<div id='main-content' class="container-fluid">
  <h1 class='text-center'>Select a superhero</h1>
  <h1 class='text-center'>Comic Book</h1>
  <div id='heroes-container' class='container'>

    <div class='row text-center'>
      <div class="col-xs-6">
        <img class='marvel-logo' ng-src='img/marvel-logo.png' ng-click="vm.setUniverse('marvel')"/>
      </div>
      <div class="col-xs-6">
        <img class='dc-logo' ng-src='img/dc-logo.png' ng-click="vm.setUniverse('dc')"/>
      </div>
    </div>

    <div id='marvel-heroes' class='row' ng-show='vm.marvelUniverse'>
      <div ng-repeat="hero in vm.marvel">
        <div class='hero-container col-xs-6 col-sm-4 col-md-3 text-center'>
          <a ui-sref="movies({hero: '{{hero.name}}'})">
            <img width=180 height=auto ng-src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}" />
          </a>
        </div>
      </div>
    </div>

    <div id='dc-heroes' class='row' ng-hide='vm.marvelUniverse'>
      <div ng-repeat="hero in vm.dc">
        <div class='hero-container col-xs-6 col-sm-4 col-md-3 text-center'>
          <a ui-sref="movies({hero: '{{hero.name}}'})">
            <img width=180 height=auto ng-src="{{hero.icon}}" />
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
