<div id='movies-content' class='container'>
	<h1 class='text-center'>Movies with {{vm.hero}}</h1>
	<div class='row text-center'>
		<div class='col-xs-6 col-sm-4 col-md-3 movie-container' ng-repeat="movie in vm.movies">
			<a ui-sref="music({hero: '{{vm.hero}}', movie: '{{movie.title}}'})">
				<img height=300 width=200 ng-src="{{movie.thumbnail.split('._')[0]}}.jpg"/>
			</a>
		</div>
	</div>
	<div class='row'>
        <div class='home-container text-center'>
            <a ui-sref='main'><img width=100 height=100 src='/img/back-btn.png' /></a>
            <p style="color: #fff">Search new character</p>
        </div>
    </div>
</div>
