html {
  height: 100%;
  color: white;
  font-family: comic-book;
}
body {
  min-height: 100%;
}

h1, h3, h4, .home-container {
  color: rgb(199,199,199);
  font-family: comic-book;
}

.home-container img {
  width: 40px;
  height: 40px;
}

@font-face {
    font-family: comic-book;
    src: url(../fonts/comic-book.otf);
}

.loader {
  max-width: 250px;
}
