html {
  height: 100%;
  color: white;
  font-family: comic-book;
}
body {
  min-height: 100%;
}

h1, h3, h4 {
  color: rgb(199,199,199);
  font-family: comic-book;
}

@font-face {
    font-family: comic-book;
    src: url(../fonts/comic-book.otf);
}
